In [1]:
import pandas as pd
data = pd.read_csv('C:/Users/Pyter/DA/BaiTap/FoodPrice_in_Turkey.csv', encoding= 'UTF-8')
data.head(66)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
61,National Average,52,Rice - Retail,5,KG,8,2019,9.4681
62,National Average,52,Rice - Retail,5,KG,9,2019,9.5000
63,National Average,52,Rice - Retail,5,KG,10,2019,9.4346
64,National Average,52,Rice - Retail,5,KG,11,2019,9.4267
65,National Average,52,Rice - Retail,5,KG,12,2019,9.5616

In [2]:
print('Số dòng là:', data.shape[0], ', Số cột là:', data.shape[1])

Số dòng là: 7381 , Số cột là: 8

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [4]:
data.groupby(['ProductName'])['Price'].mean().sort_values(ascending=True)

ProductName
Eggs - Retail                                               0.505925
Electricity - Retail                                        0.513580
Cabbage - Retail                                            1.723395
Salt - Retail                                               2.048213
Onions - Retail                                             2.141539
Cucumbers (greenhouse) - Retail                             2.206807
Potatoes - Retail                                           2.297231
Apples (red) - Retail                                       2.392193
Bread (pita) - Retail                                       2.404545
Transport (public) - Retail                                 2.468031
Peas (green, dry) - Retail                                  2.900029
Oranges - Retail                                            3.124280
Spinach - Retail                                            3.240587
Wheat flour - Retail                                        3.253174
Cauliflower - Retail                                        3.274868
Tomatoes - Retail                                           3.393658
Cucumbers - Retail                                          3.411326
Pasta - Retail                                              3.496637
Bulgur - Retail                                             3.516712
Milk (pasteurized) - Retail                                 3.679687
Zucchini - Retail                                           3.837423
Eggplants - Retail                                          3.882645
Apples - Retail                                             3.885039
Tea (green) - Retail                                        4.137000
Bread (common) - Retail                                     4.463293
Sugar - Retail                                              4.482942
Yogurt - Retail                                             5.364898
Water - Retail                                              5.384253
Tea (herbal) - Retail                                       5.434838
Lentils - Retail                                            6.651817
Rice - Retail                                               7.950325
Tomatoes (paste) - Retail                                   8.085128
Bananas - Retail                                            8.224784
Fuel (petrol-gasoline) - Retail                             8.592519
Oil (sunflower) - Retail                                    8.755174
Beans (white) - Retail                                      9.572830
Meat (chicken) - Retail                                     9.683471
Chickpeas - Retail                                         10.347860
Garlic - Retail                                            16.610370
Groundnuts (shelled) - Retail                              21.832122
Fish (fresh) - Retail                                      22.698257
Cheese - Retail                                            25.522875
Tea - Retail                                               26.224393
Oil (olive) - Retail                                       27.274547
Wage (non-qualified labour, non-agricultural) - Retail     40.548182
Meat (veal) - Retail                                       41.270904
Coffee - Retail                                            42.468075
Coffee (instant) - Retail                                  43.295493
Cocoa (powder) - Retail                                    43.802339
Meat (mutton) - Retail                                     45.557209
Fuel (gas) - Retail                                        83.976703
Milk (powder, infant formula) - Retail                    108.287696
Name: Price, dtype: float64